/* general */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #ddd;
}

header,
section {
  width: 100%;
  max-width: 1058px;
  margin: 0 auto;
  overflow: auto;
  background-color: #fff;
  position: relative;
  top: 106px;
}

header {
  position: fixed;
  z-index: 2;
  top: 32px;
  left: calc((100vw - 1058px)/2);
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.empty {
  background-color: #eee;
  height: calc(100vh - 138px);
  padding: 10px 50px;
}

/* sections */

.topbar {
  border-bottom: 1px solid #ccc;
  height: 29px;
}

.topbar .search {
  display: inline-block;
}

.topbar .search input {
  height: 27px;
  border: none;
}

.topbar .buttons {
  float: right;
}

.topbar .buttons button {
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar .logo {
  position: relative;
  background-image: url(../img/logo.png);
  width: 188px;
  height: 46px;
  display: inline-block;
  margin: 13px 0;
}

.navbar .logo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar .menu {
  float: right;
}

.navbar .menu ul {
  list-style-type: none;
  list-style: none;
  list-style-image: none;
  display: flex;
  height: 71px;
  padding: 0;
  margin: 0;
}

.navbar .menu li {
  align-self: center;
  display: inline-block;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 600;
}

.banner .img {
  line-height: 0;
}

.banner .img img {
  width: 100%;
  display: block;
}

.banner .container {
  position: absolute;
  width: initial;
  top: 61px;
  left: 59px;
}

.banner .container h2 {
  color: #fff;
  font-size: 56px;
  padding: 10px 15px 15px;
  background-color: #497c8f;
  margin: 0;
}

.banner .container p {
  margin: 16px 0;
  color: #497c8f;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 18px 20px;
  width: 420px;
}

@media screen and (max-width: 779px) {
  .about .img img {
    width: 100%;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
}

.about div {
  flex: 1 1 360px;
  height: 265px;
  min-height: 265px;
  overflow: hidden;
}

.about .content {
  color: #fff;
  padding: 0 30px;
  background-color: #478175;
}

.about .content h2 {
  margin: 15px 0 0;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 600;
  padding: 0 70px 0 0;
}

.about .content p {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 80px 0 0;
}

.about .content button {
  margin-top: 17px;
}

.how {
  padding: 48px 0;
}

.how h2 {
  margin-top: 0;
  font-size: 26px;
}

.how p {
  font-size: 17px;
}

.how .howform {
  text-align: center;
  font-size: 23px;
  margin: 40px 0 0;
}

.how .howform select {
  border: none;
  border-bottom: 2px solid #497c8f;
  font-size: 23px;
  color: #497c8f;
  margin: 0 4px;
}

.how .howform button {
  margin-left: 20px;
}

.howform button {
  margin-left: 20px;
}
  .howform button a {
    padding-left: 15px;
    padding-right: 15px;
  }

.what {
  background-color: #487c8f;
  padding: 48px 0;
}

.what h2 {
  margin-top: 0;
  color: #fff;
}

.what p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 30px;
}

.what .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.what .content .box {
  background-color: #fff;
  flex: 0 1 200px;
  margin-bottom: 45px;
  padding: 20px 0 25px;
  text-align: center;
}

.what .content .box h3 {
  margin-top: 0;
}

.what .content .box p {
  color: #222;
  font-size: initial;
  margin-bottom: 16px;
}

.what .call {
  text-align: center;
}


/* buttons */
button {
  position: relative;
  background: none;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}
  button a {
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: 15px;
    padding-right: 15px;
  }

button.rounded {
  border-radius: 20px;
}

button.contained {
  background-color: #ccc;
  color: #222222;
}

button.contained.primary {
  background-color: #be3249;
  color: #fff;
}

button.contained.secondary {
  background-color: #fff;
  color: #be3249;
}

button.outlined {
  border: 1px solid #ccc;
}

button.outlined.primary {
  border: 1px solid #be3249;
  color: #be3249;
}

button.outlined.secondary {
  border: 1px solid #fff;
  color: #fff;
}

button.underlined {
  border-left: 1px #ccc solid;
}

button.underlined:after {
  content: "";
  background-color: #ccc;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
}

button.underlined.secondary:after {
  background-color: #3b7e71;
  color: #3b7e71;
}